---
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "00:00"
      timezone: "Asia/Shanghai"
    open-pull-requests-limit: 10
    target-branch: "dev"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      actions:
        patterns:
          - "*"

  - package-ecosystem: "docker"
    directories:
      - "/bi/base"
      - "/bserver"
      - "/ipinfo"
    schedule:
      interval: "daily"
      time: "00:00"
      timezone: "Asia/Shanghai"
    open-pull-requests-limit: 10
    target-branch: "dev"
    commit-message:
      prefix: "chore"
      include: "scope"
    ignore:
      - dependency-name: "python"
        versions:
          - ">= 3.10"
    groups:
      docker:
        patterns:
          - "*"
