---
name: "Shellcheck"

on:
  push:
    branches:
      - "**"
    paths:
      - "**/*.sh"
  pull_request:
    paths:
      - "**/*.sh"
  workflow_dispatch:

jobs:
  shellcheck:
    name: "Run shellcheck"
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v6

      - name: "Run shellcheck"
        uses: ludeeus/action-shellcheck@master
